/* src/components/Header.css */

.logo {
    font-size: 2rem;
  }
  
  .nav-link {
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #f39c12;
  }
  